    .footer {
      position: fixed;
      bottom: 0;
      right: 0;
      height: 40px;
      width: 100%;
      background-color: var(--primary);
      color: rgb(167, 167, 167);
      z-index: 15;

      display: flex;
      align-items: center;
      justify-content: center;
    }