    .container {
      width: 96%;
      max-width: 1400px;
      margin: 0 auto;
      padding: 100px 0 0 0;
      position: relative;
    }

    .movie {
      max-width: 250px;
      padding: 0px;
      /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
      color: #f5f5f5;
      position: relative;
      margin: 8px;
      height: auto;
      background-color: #333;
      border-radius: 6px;
      cursor: pointer;
    }

    .movie img {
      width: 100%;
      height: 300px;
      display: block;
      margin: 0 auto;
      object-fit: cover;
      border-radius: 6px 6px 0 0;
    }

    .movie .title {
      font-weight: 600;
      font-size: 12px;
      /* background: #081027; */
      color: #a6a6a6;
      width: 100%;
      padding: 8px 6px 6px 6px;
      height: 40px;
      line-height: 1;
    }

    .movie .year {
      font-weight: 200;
      font-size: 10px;
      color: #979797;
      padding: 4px 0 0 0;
    }

    .movie .description {
      padding: 0 20px 20px 20px;
      line-height: 22px;
    }

    .movie .price {
      text-align: center;
      font-weight: 600;
      font-size: 28px;
      color: #8f8f8f;
      padding-top: 10px;
      font-family: sans-serif;
      /* text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        transform: rotate(-45deg); */
    }

    .movie .cart {
      text-align: center;
      padding: 15px 0;
      margin-top: 40px;
      background-color: #3e628f;
      color: white;
      font-size: 18px;
      cursor: pointer;
    }

    .movie .cart i {
      padding-left: 10px;
    }


    .notFound {
      font-size: 24px;
      font-weight: 600;
      height: 80vh;
      color: #6d6d6d;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    .field {
      width: 180px;
      display: inline-block;
    }

    .notFoundCriteria {
      font-size: 14px;
      display: block;
      margin: 20px;
      font-size: 16px;
      font-weight: 400;
      width: 500px;
      text-align: center;
    }

    .notFoundField {
      font-weight: 600;
    }

    .view-more {
      margin: 0 auto;
      max-width: 1240px;
      padding: 20px;
      text-align: center;
    }

    .view-more button {
      padding: 10px 25px;
    }



    /* ----- Checkbox Code Begins ----- */

    .sort {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      width: 620px;
    }

    .lang {
      margin: 0 40px 0 0;
      display: flex;
    }

    .genre {
      margin: 0 20px 0 0;
      display: flex;
    }

    .sort .sortOrder {
      display: none;
      width: 100%;
    }

    @media only screen and (max-width: 768px) {
      .sort .sortOrder {
        display: flex;
      }
    }

    @media only screen and (min-width: 768px) {
      .sortOrder {
        display: none;
      }
    }

    .genre input[type=radio],
    .lang input[type=radio],
    .bw input[type=radio],
    .sortOrder input[type=radio] {
      display: none;
    }

    .genre input+label,
    .bw input+label,
    .lang input+label, .sortOrder input+label {
      display: flex;
      /* border: 1px solid rgba(204, 202, 202, 0.62); */
      padding: 2px 10px 2px 6px;
      border-radius: 3px;
      cursor: pointer;
      margin: 0 6px 0 0;
      width: 100%;
      /* height: 60px; */
      margin: 0 auto;
      align-items: center;
      justify-content: center;
    }

    .genre input:checked+label,
    .bw input:checked+label,
    .lang input:checked+label,
    .sortOrder input:checked+label {
      /* box-shadow: 0px 4px 15px 0px rgba(34, 34, 34, 0.41); */
      /* border-color: #fff; */
      background: rgb(255, 255, 255);
      color: #333;
      /* height: 18px; */
    }


    /* ----- Checkbox Code Ends ----- */


    @media only screen and (max-width: 768px) {
      .pagination-container {
        display: flex;
      }
    }